* {
  box-sizing: border-box;
  margin: 0; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6) !important;
  text-align: center; }

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto; }

a {
  text-decoration: none; }

body {
  font-family: 'Roboto', sans-serif !important;
  background: #444;
  padding: 40px 0; }

.wrapper {
  background: #FFF; }

.header {
  background: #0070FF;
  padding: 40px 0 20px 0;
  color: #FFF; }
  .header .name {
    text-align: center; }
    .header .name .name {
      font-size: 35px; }
    .header .name .birthDay {
      font-size: 25px; }
    .header .name .title {
      font-size: 45px; }
  .header .info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .header .info a {
      color: #FFF; }
    .header .info div {
      display: flex;
      margin-bottom: 20px; }
      .header .info div i {
        font-size: 21px; }
      .header .info div h3 {
        padding-left: 10px; }

.body {
  padding: 40px 0; }
  .body .summary .title {
    color: #0070FF;
    width: 133px;
    display: flex;
    margin-bottom: 20px; }
    .body .summary .title i {
      font-size: 25px; }
    .body .summary .title h3 {
      margin-left: 10px;
      padding-top: 4px; }
  .body .summary .description p {
    color: #666; }
  .body hr {
    border: none;
    height: 1px;
    width: 50%;
    background: #CCC;
    margin: 40px auto; }
  .body .title, .body .subtitle {
    color: #0070FF;
    margin-bottom: 20px;
    display: flex; }
    .body .title i, .body .subtitle i {
      font-size: 21px; }
    .body .title h3, .body .subtitle h3 {
      margin-left: 10px; }
  .body .tech {
    margin-bottom: 60px; }
    .body .tech .container {
      display: flex;
      justify-content: space-between; }
      .body .tech .container > div {
        width: 50%; }
      .body .tech .container .skills .skill {
        margin-bottom: 10px; }
        .body .tech .container .skills .skill .skillTitle {
          color: #333; }
        .body .tech .container .skills .skill progress {
          background-color: white; }
        .body .tech .container .skills .skill progress::-webkit-progress-value {
          background: #0070FF; }
        .body .tech .container .skills .skill progress::-webkit-progress-bar {
          background: #FFF;
          border: 1px solid #0070FF;
          -webkit-appearance: none;
                  appearance: none;
          width: 270px;
          height: 12px; }
        .body .tech .container .skills .skill progress::-moz-progress-value {
          background: #0070FF; }
        .body .tech .container .skills .skill progress::-moz-progress-bar {
          background: #FFF;
          border: 1px solid #0070FF;
          -moz-appearance: none;
               appearance: none;
          width: 270px;
          height: 12px; }
      .body .tech .container .experienceAndCerts .experiences .experience .experienceTitle {
        color: #333;
        margin-bottom: 10px; }
      .body .tech .container .experienceAndCerts .experiences .experience .date {
        color: #333;
        margin-bottom: 10px; }
      .body .tech .container .experienceAndCerts .experiences .experience .description {
        color: #666; }
      .body .tech .container .experienceAndCerts .certs {
        margin-top: 20px; }
        .body .tech .container .experienceAndCerts .certs .title {
          margin: 0; }
          .body .tech .container .experienceAndCerts .certs .title h3 {
            display: inline; }
        .body .tech .container .experienceAndCerts .certs .subtitle span {
          display: inline; }
        .body .tech .container .experienceAndCerts .certs .cert .certTitle {
          margin-bottom: 10px; }
          .body .tech .container .experienceAndCerts .certs .cert .certTitle a h4 {
            color: #333; }
          .body .tech .container .experienceAndCerts .certs .cert .certTitle span {
            color: #666; }
  .body .nonTech .container {
    display: flex; }
    .body .nonTech .container > div {
      width: 50%; }
    .body .nonTech .container .languages .language {
      margin-bottom: 15px; }
      .body .nonTech .container .languages .language .languageTitle {
        color: #333;
        margin-bottom: 6px; }
      .body .nonTech .container .languages .language .rating i {
        color: #0070FF; }
    .body .nonTech .container .education .degree .degreeTitle {
      color: #333;
      margin-bottom: 10px; }
    .body .nonTech .container .education .degree .date {
      color: #333;
      margin-bottom: 10px; }
    .body .nonTech .container .education .degree .description {
      color: #666; }
