doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    title tudor
    //link(rel='icon', href='imgs/icon.png')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto&display=swap')
    link(rel='stylesheet', href='css/style.css')
    script(type="text/javascript" src='js/script.js')
  body
    .header
      .headerContainer
        .navBar
          .logo
          .menu
            a.home(href="/") home
            a.teach(href="/teach") teach
            a.donate(href="donate") donate
            a.aboutUs(href="/aboutUs") about us
            a.myProfile(href="/myProfile") my profile
        .headline
          h1 Be one of the 250 000
          p teachers needed in Nigerian schools
          
        .startTeaching
          h2 Find a teaching opportunity
        
          .selectElement
            select
              option(value='be a one time donaition') Pick a course
            i(class="fas fa-angle-down")
          button.submit Start Teaching
          
    .opportunities
      .container
        p A quick preview of local communities looking for your help
        .items
          .item1
            .image
            .desc
              h3 Aleyita LEA Primary School
              p The School has 447 pupils and has no ICT ...
              a() see more
              
          .item2
            .image
            .desc
              h3 Aleyita LEA Primary School
              p The School has 447 pupils and has no ICT ...
              a(href="#") see more
                  
          .item3
            .image
            .desc
              h3 Aleyita LEA Primary School
              p The School has 447 pupils and has no ICT ...
              a(href="#") see more
          
        a(href="#") see all opportunities
            i(class='fas fa-long-arrow-alt-right')
            
    .addYourSchool
      .container
        h2 Add Your School
        p We are open to helping any school in Nigeria in need of teacher. Feel free to reach out to us to add your school to our website. Teacher will be just a few clicks away.
        form
          .inputs
            .schoolInfo
              label School Name
              input(name='schoolName' placeholder='' )
              label Contact Person Phone Number
              input(name='contactPersonPhoneNumber' placeholder='(0000-000-000)' )
              label State / Country
              input(name='state/Country' placeholder='' )
              
            .personInfo
              label Your Full Name
              input(name='yourFullName' placeholder='' )
              label Your Phone Number
              input(name='yourPhoneNumber' placeholder='(0000-000-000)' )
              label Your email address
              input(name='yourEmailAddress' placeholder='' )
            
          input(type='submit' name='submit' value='LET US KNOW')
          
    .aboutUs
      .background
        .container
          .content
            h2 About Us
            .desc
              p According to the Teachers Registration Council of Nigeria, Nigeria needs at least 250,000 teachers annually to cater for the growing population of pupils.
              p   This is what birthed the idea of giveatech.org; to grow a community of volunteer teachers who are willing to teach children in low resource schools and communities at their spare time.
          .image
      .hiddenImage
      .container
        a(href="#") SEE MORE
          i(class='fas fa-long-arrow-alt-right')
          
    .donate
      .container
        .desc
          h2 Donate
          p Help us continue our efforts in improving the educational system in Nigeria.
          p  Our society cannot succeed without proper education !
        .methods
          .naira
            h3 Naira
            form
              label Full Name
              input(type='text' name='fullName')
              label Email
              input(type='text' name='email')
              label Amount (NGN)
              input(type='text' name='amount' placeholder='Min Amount 1000')
              input(type='submit' name='submit' value='Donate')
          .vLine
          .paypal
            h3 Paypal
            form
              .amount
                .input#p25(onclick='donation("p25")') 25 $
                .input#p50(class='checked' onclick='donation("p50")') 50 $
                .input#p100(onclick='donation("p100")') 100 $
                .input#other(onclick='donation("other")') Other
                input(type='radio' name='amount' value='$50' checked='checked')
              
              .select
                p I'd like this amount to
                .selectElement
                  select
                    option(value='be a one time donaition') be a one time donaition
                  i(class="fas fa-angle-down")
              input(type='submit' name='submit' value='Continue to PayPal')
              
    .footer
      .container
        section.left
          h2 Give a Teach
          p Using technology to improve the quality of education
        
        section.right
          .menu
            a.home(href="/") Home
            a.teach(href="/teach") Teach
            a.donate(href="donate") Donate
            a.aboutUs(href="/aboutUs") About Us
            
          .info
            a(href="/FAQs") FAQs
            a(href="/termsOfUse") Terms of Use
            a(href="/privacy") Privacy
              
            
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
    script
      |function donation(amount){
      |   document.getElementById(amount).parentNode.children[0].classList.remove('checked');
      |   document.getElementById(amount).parentNode.children[1].classList.remove('checked');
      |   document.getElementById(amount).parentNode.children[2].classList.remove('checked');
      |   document.getElementById(amount).parentNode.children[3].classList.remove('checked');
      |   document.getElementById(amount).classList.add('checked');
      |   var value = amount.replace('p', '');
      |   console.log(document.getElementById(amount).parentNode.children[4].setAttribute('value', '$'+value));
      |}
