doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    title bob
    //link(rel='icon', href='imgs/icon.png')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .container
      .wrapper
        .header
          .container
            .name
              .name
                h1 ANAS OUARDINI
              .title
                span Web Developer
            .info
              section.section2
                .address
                  i(class="fas fa-map-marker-alt")
                  h3 150 ARSET BELHAJ AIN ITTI NAKHIL SUD MARRAKECH
                .email
                  i(class="far fa-envelope-open")
                  h3 anasouardini.webdeveloper@gmail.com
                a(href='http://anasouardini.github.io' target='_blank')
                  .website
                    i(class="fas fa-wifi")
                    h3 anasouardini.github.io
              section.section1
                .birthDay
                  i(class="fas fa-birthday-cake")
                  h3 11/03/2000
                .tel
                  i(class="fas fa-phone")
                  h3 +212 633277361
        .body
          .summary
            .container
              .title
                i(class="fas fa-user-alt")
                h3 SUMMARY
              .description
                p Self-motivated Web Developer with Medium level of experience working on multiple projects. Passionate and hardworking with penchant for meeting deadlines. Interested in role with company promoting best practices and offering diverse customer projects.
          hr
          .tech
            .container
              .skills
                .title
                  i(class="fas fa-tools")
                  h3 SKILLS
                .skill
                  .skillTitle
                    h4 HTML5
                  .progression
                    progress(max='100' value='90')
                .skill
                  .skillTitle
                    h4 CSS3
                  .progression
                    progress(max='100' value='70')
                .skill
                  .skillTitle
                    h4 JAVASCRIPT
                  .progression
                    progress(max='100' value='50')
                .skill
                  .skillTitle
                    h4 PHP
                  .progression
                    progress(max='100' value='30')
                .skill
                  .skillTitle
                    h4 MYSQL
                  .progression
                    progress(max='100' value='30')
              .experienceAndCerts
                .experiences
                  .title
                    i(class="fas fa-flask")
                    h3 EXPERIENCE
                  .experience
                    .experienceTitle
                      h4 Web Developer | Self Employed
                    .date
                      span Mars 2018 - Current
                    .description
                      p worked on lots of projects and gained a lot of experience.

                .certs
                  .title
                    i(class="fas fa-certificate")
                    h3 CERTIFICATIONS
                  .subtitle
                    span openclassrooms.com
                  .cert
                    .certTitle
                      a(href='https://openclassrooms.com/en/course-certificates/2829526928' target='_blank')
                        h4 Create Web Page Layouts With CSS
                      span ID: 2829526928
                      
                    .certTitle
                      a(href='https://openclassrooms.com/en/course-certificates/3992201991' target='_blank')
                        h4 Write JavaScript for the Web
                      span ID: 3992201991
                      
                    .certTitle
                      a(href='https://openclassrooms.com/en/course-certificates/2742669277' target='_blank')
                        h4 Retrieve data using SQL
                      span ID: 2742669277

          .nonTech
            .container
              .languages
                .title
                  i(class="fas fa-comment-dots")
                  h3 LANGUAGES
                .language
                  .languageTitle
                    h4 Arabic | First language
                  .rating
                    i(class="fas fa-star")
                    i(class="fas fa-star")
                    i(class="fas fa-star")
                    i(class="fas fa-star")
                    i(class="far fa-star")
                  
                .language
                  .languageTitle
                    h4 English | Second language
                  .rating
                    i(class="fas fa-star")
                    i(class="fas fa-star")
                    i(class="fas fa-star")
                    i(class="far fa-star")
                    i(class="far fa-star")
                
                .language
                  .languageTitle
                    h4 French | Third language
                  .rating
                    i(class="fas fa-star")
                    i(class="fas fa-star")
                    i(class="far fa-star")
                    i(class="far fa-star")
                    i(class="far fa-star")
          
              .education
                .title
                  i(class="fas fa-pen")
                  h3 EDUCATION
                .degree
                  .degreeTitle
                    h4 Baccalaureate Degree
                  .date
                    span 2016 - 2019
                  .description
                    p was a nice experience on the educational level.
